* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --hue: 195;
    --color-base-white: hsl(0, 0%, 100%);
    --color-base-darkblue: hsl(var(--hue), 91%, 25%);
    --color-base-lightblue: hsl(var(--hue), 46%, 40%);
    --color-base-gray-300: hsl(var(--hue), 6%, 8%);
    --color-base-gray-900: hsl(var(--hue), 6%, 13%);
    --color-base-gray-500: hsl(0, 0%, 24%);
}

html, input {
    font: 400 1.6rem/160% "Mulish", sans-serif;
    color: var(--color-base-gray-900);
}

h1, h2, h3{
    font-size: 2.4rem;
    color: var(--color-base-gray-900);
}

h3 {
    font-size: 1.8rem;
    line-height: 100%;
}

.primary-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    line-height: 160%;
}

/* HEADER */

header {
    background-color: var(--color-base-darkblue);
    padding: 1.2rem 2.8rem;
}

header .container {
    max-width: 37.4rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

header form {
    flex: 1;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input{
    width: 100%;
    padding: 1.2rem;
    border: 0;
    border-radius: .4rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--color-base-lightblue);
}

.input-wrapper input::placeholder{
    color: var(--color-base-white);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.logo { 
    width: 4rem;
    height: 4rem;
    line-height: 0;
}

/* MAIN */

main, aside, main p {
    max-width: 38.2rem;
    margin-inline: auto;
}

main h1, main p, .buttons, aside h2{
    padding-inline: 1.6rem;
}

main h1 {
    margin-top: 3.2rem;
}

main p {
    margin-top: 1.6rem;
}

main .buttons {
    margin-top: 1rem;
}

button {
    all: unset;
    transition: all 300ms;
}

button:hover {
    transform: scale(1.1) rotate(10deg);
}

/* ASIDE */

aside {
    margin-top: 2rem;
}

.item {
    background-color: var(--color-base-white);
    overflow: hidden;
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 1.6rem;
    align-items: center;
    padding: 0 2.2rem;
    margin-top: 3.2rem;
}

.item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all 200ms ease-out;
    border-radius: .5rem;
}

.item img:hover {
    filter: hue-rotate(5deg) contrast(120%) saturate(200%);
    transform: scale(1.1);
}

.gallery {
    margin-bottom: 4rem;
}

.details {
    background-color: var(--color-base-white);
    z-index: 1;
    position: relative;
}

h3 {
    font-size: 1.8rem;
}

.description {
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 160%;
}

.description span{
    background-color: var(--color-base-gray-100);
    line-height: 1.6rem;
    font-size: 1.4rem;
}

/* FOOTER */

footer {
    background-color: var(--color-base-darkblue);
    margin-top: 4rem;
}

footer h3{
    text-align: center;
    color: var(--color-base-white);
    font-weight: 300;
    font-size: 1.6rem;
}

/* ANIMATIONS */

header {
    --startY: -100%;
    animation: move .2s;
}

footer {
    --startY: 100%;
    animation: move .2s;
    padding: 2.2rem;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

main, aside{
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}

/* DESKTOP */

@media (width > 80rem){
    #app {
        display: grid;
        grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

        gap: 4rem 3.2rem;
    }

    img {
        border-radius: 5px;
    }

    header .container,
    main, aside, main p {
        max-width: initial;
        margin: initial;
        padding: initial;
    }

    main h1, main p, .buttons, aside h2{
        padding: initial;
    }

    header {
        grid-area: header;
    }

    header .container {
        max-width: 121.6rem;
        margin-inline: auto;
    }

    header form {
        flex: 1;
    }

    header form input{
        width: 100%;
    }

    main {
        grid-area: main;
        max-width: 80rem;
        margin-left: auto;
    }

    aside {
        grid-area: aside;
        max-width: 38.4rem;
    }

    footer {
        grid-area: footer;
    }
}

